<h1>Listing purposes for <%= @server.name %></h1>

<table>
<% for purpose in @purposes %>
  <tr>
    <td><%=h purpose.role.name %></td>
    <td><%= link_to 'x', resource(@server.id, purpose.id),
            :class => 'delete-link', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

