<h1>New application_instance</h1>

<% form_for(@application_instance) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', application_instances_path %>
