<h1>Editing service_instance</h1>

<% form_for(@service_instance) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @service_instance %> |
<%= link_to 'Back', service_instances_path %>
