<p>
  <b>Server:</b>
  <%=h @platform_membership.server_id %>
</p>

<p>
  <b>Platform:</b>
  <%=h @platform_membership.platform_id %>
</p>


<%= link_to 'Edit', edit_platform_membership_path(@platform_membership) %> |
<%= link_to 'Back', platform_memberships_path %>
