<h2><%=h platform.name %></h2>
<div id="servers_options">
  <%= link_to "Edit...", resource(platform, :edit) %>
</div>
<% unless memberships.nil? %>
  <%= partial :membership, :with => memberships, :as => :membership %>
<% end %>
