<h2><%=h platform.name %></h2>
<div id="servers_options">
  <%= link_to "Edit...", edit_platform_path(platform) %>
</div>

<%= render :partial => "/platforms/membership", :collection => memberships %>