<h2>Other servers</h2>

<div id="other_servers_options">
  <%= link_to "Add more...", resource(:servers, :new) %>
  <%# FIXME: link_to_function "Filter", visual_effect(:toggle_blind, 'server_filter_box') %>
  <div id="server_filter_box" style="display: none">
    <span>Show only</span>
    <span style="float: right">
      <%= form :action => 'javascript:void(0)' do %>
        <%= select :role_filter, :collection => (Role.all.map {|r| [r.name.pluralize, r.id]}) %>
      <% end =%>
    </span>
  </div>
</div>

<% unless other_servers.nil? %>
  <%= partial :server, :with => other_servers, :as => :server %>
<% end %>
