<div class="server" id="server_<%=h server.id %>">
  <strong><%=h server.name %></strong> - <em><%=h server.hostname %></em>
</div>
<%# draggable_element "server_#{server.id}",
                        :revert => "'failure'" %>
