<div class="server" id="server_<%=h server.id %>"><%=h server.name %></div>
<%= draggable_element "server_#{server.id}",
                        :revert => "function(el){
                                  return Position.page(el)[0] > 100; }" %>