<h1>New contract</h1>

<% form_for([@client, @contract]) do |f| %>
  <!--TODO: Fixme for DM %= f.error_messages %-->

  <p>
    <%= f.collection_select :service_id, @services, :id, :name %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', client_path(@client.id) %>
