<h1>Editing plugin</h1>

<% fields_for(@plugin) do |f| %>

  <% @plugin.properties.each do |property| %>
  <p>
	<%= f.label property[0] %><br />
	<%= f.text_field property[0] %>
  </p>
  <% end %>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>


<%= link_to 'Back', plugins_path %>
