<h1>Listing plugins</h1>

<table>
  <tr>
    <th>Short name</th>
    <th>Name</th>
    <th>Description</th>
    <th>Url</th>
  </tr>

<% for plugin in @plugins %>
  <tr>
<<<<<<< HEAD:app/views/plugins/index.html.erb

	<td><%=h plugin.short_name %></td>
=======
>>>>>>> db60e5f... boel geklooi met Modules gehad:app/views/plugins/index.html.erb
    <td><%=h plugin %></td>

  </tr>
<% end %>
</table>

<br />