%h2
  = h platform.name
#systems_options
  = link_to "Edit...", resource(platform, :edit)
%ul.connected-sortable
- unless memberships.nil?
  = partial :membership, :with => memberships, :as => :membership
