%h2
  Other systems
#other_systems_options
  = link_to "Add more...", resource(:systems, :new)
  %a#filter{ :href => "#" }
    Filter
  #system_filter_box{ :style => "display: none" }
    %span
      Show only
    %span{ :style => "float: right" }
      = form(:action => 'javascript:void(0)') do
        = select(:role_filter, :collection => (Locomotive::Role.all.map {|r| [r.id, r.name.pluralize]}))
      
%script{ :type => "text/javascript" }
  $(function() {
  $("#filter").click(function() {
  $("#system_filter_box").toggle("blind");
  });
  });

%ul.connected-sortable
  - unless other_systems.nil?
    = partial :system, :with => other_systems, :as => :system
