<div id="submenu">
  <ul>
    <li id="active"><%= link_to 'Plugins', :controller => 'plugins' %></li>
    <li><a href="/plugin_instances">Instances</a></li>
    <li><a href="/plugin_properties">Properties</a></li>
  </ul>
</div>