<div id="submenu">
  <ul>
    <li id="active"><%= link_to 'Plugins', :controller => 'plugins' %></li>
    <li><%= link_to 'Instances', :controller => 'plugin_instances' %></li>
    <li><%= link_to 'Properties', :controller => 'plugin_properties' %></li>
  </ul>
</div>