<% content_for(:sidebar) do %>
  Showing client details.
<% end %>

<p>
  <b>Name:</b>
  <%=h @client.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @client.description %>
</p>


<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
