<p>
  <b>Key:</b>
  <%=h @plugin_property.key %>
</p>

<p>
  <b>Value:</b>
  <%=h @plugin_property.value %>
</p>


<%= link_to 'Edit', resource(@plugin_property, :edit) %> |
<%= link_to 'Back', resource(:plugin_properties) %>
