<p>
  <b>Server:</b>
  <%=h @platform_membership.server_id %>
</p>

<p>
  <b>Platform:</b>
  <%=h @platform_membership.platform_id %>
</p>


<%= link_to 'Edit', resource(@platform_membership, :edit) %> |
<%= link_to 'Back', resource(:platform_memberships) %>
