<h1>Listing roles</h1>

<% unless Role.count == 0 %>

  <p>
    Roles are like job descriptions for your servers.
    You can check out the list below to see the roles that are currently available
    or add more using the "add more" link to the right.
  </p>

  <table>
    <tr>
      <th>Name</th>
    </tr>

  <% for role in @roles %>
    <tr>
      <td><%= link_to role.name, resource(role) %></td>
      <td><%= link_to 'Edit', resource(role, :edit) %></td>
      <td><%= link_to 'Delete', resource(role, :delete), :class => 'delete-link' %></td>
    </tr>
  <% end %>
  </table>

<% else # no roles defined yet %>
  <p>
    Hey! It looks like you haven't defined any roles yet.
    Roles are like job descriptions for your servers. Hurry to the "add more"
    link to the right to add more.
  </p>
<% end %>

<% throw_content :sidebar do %>
  <h2>Actions</h2>
    <ul id="general">
      <li><%= link_to "Add a new role", resource(:roles, :new) %></li>
    </ul>
<% end %>
