#container
  #header-container
    %h2 Page not found
    %hr
  #left-container
    %h3
      Exception:
    %p
      = request.exceptions.first.message
  #main-container
    %p Unfortunately we couldn't find the page you were looking for.  
  #footer-container
    %hr
    .left
    .right
      \&copy; 2008-2009 Nedap NV Healthcare
    %p
      \&nbsp;
