<h1>Plugins</h1>

<table>
  <tr>
    <th>Short name</th>
    <th>Name</th>
    <th>Description</th>
  </tr>

<% @plugins.each do |plugin| %>
  <tr>

	<td><%=h plugin.short_name %></td>
  <td><%=h plugin.long_name %></td>
  <td><%=h plugin.description %></td>
	<td><%= link_to "instantiate", :controller => "plugin_instances", :action => "new", :id => plugin.short_name %></td>

  </tr>
<% end %>
</table>

<br />
